<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.1.dtd">

<suite name="CharacterBuilder" verbose="1" parallel="tests" >

    <test name="Objects test" >
        <groups>
            <dependencies>
                <group name="character.skills" depends-on="character.builder"/>
                <group name="building.output" depends-on="building.constructor"/>
                <group name="building.content" depends-on="building.constructor"/>
            </dependencies>
        </groups>
        <classes>
            <class name="objects.test.BuildingTest" />
            <class name="objects.test.CharacterTest" />
        </classes>
    </test>

    <test name="Skills test">
        <groups>
            <dependencies>
                <group name="skill.apply" depends-on="skill.constructor"/>
            </dependencies>
        </groups>
        <classes>
            <class name="skills.test.SkillTest"/>
        </classes>
    </test>

</suite>